.input input {
  width: 100%;
  border: 1px solid hsl(189, 41%, 97%);
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  height: 2.5rem;
  font-size: large;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

.input input:active {
  border: 1px solid hsl(183, 100%, 15%);
}

.input label {
  display: block;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input .icon__container {
  position: relative;
}

.input .icon__container svg {
  position: absolute;
  top: 10px;
  left: 8px;
  z-index: 1;
}
