label {
  display: block;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.745rem;
}

.buttons button {
  height: 2.5rem;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: none;
}

.buttons button:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.buttons button:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
